.mixin.out
.spyglass_astronomy
controlify-natives
data
defaultconfigs
downloads
emotes
fancymenu_data
moddata
patchouli_books
polymer
saves
screenshots
server-resource-packs
showdown
texturepacks
xaero
XaeroWaypoints
XaeroWaypoints_*
commandand_history.txt
emi.json
icon.png
instance.png
patchouli_data.json
realms_persistence.json
servers.dat
servers.dat_old
usercache.json
usernamecache.json